AcgMsDataFactoryGITHB/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AcgMsDataFactoryGITHB"
		},
		"ADLS_LS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_LS'"
		},
		"ADLS_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://acgmsdatalake.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_LS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_LS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "enriched",
						"fileSystem": "taxidata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "TaxiRides.csv",
						"folderPath": "raw",
						"fileSystem": "taxidata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "RideId",
						"type": "String"
					},
					{
						"name": "VendorId",
						"type": "String"
					},
					{
						"name": "PickupTime",
						"type": "String"
					},
					{
						"name": "DropTime",
						"type": "String"
					},
					{
						"name": "PickupLocationId",
						"type": "String"
					},
					{
						"name": "DropLocationId",
						"type": "String"
					},
					{
						"name": "CabNumber",
						"type": "String"
					},
					{
						"name": "DriverLicenseNumber",
						"type": "String"
					},
					{
						"name": "PassengerCount",
						"type": "String"
					},
					{
						"name": "TripDistance",
						"type": "String"
					},
					{
						"name": "RateCodeId",
						"type": "String"
					},
					{
						"name": "PaymentType",
						"type": "String"
					},
					{
						"name": "TotalAmount",
						"type": "String"
					},
					{
						"name": "FareAmount",
						"type": "String"
					},
					{
						"name": "Extra",
						"type": "String"
					},
					{
						"name": "MtaTax",
						"type": "String"
					},
					{
						"name": "TipAmount",
						"type": "String"
					},
					{
						"name": "TollsAmount",
						"type": "String"
					},
					{
						"name": "ImprovementSurcharge",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "taxidata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Taxi_From_Raw_To_Output",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RideId",
											"type": "Int16",
											"physicalType": "String"
										},
										"sink": {
											"name": "RideId",
											"type": "Int16",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "VendorId",
											"type": "Int16",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorId",
											"type": "Int16",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "PickupTime",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "PickupTime",
											"type": "DateTime",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "DropTime",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "DropTime",
											"type": "DateTime",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "PickupLocationId",
											"type": "Int16",
											"physicalType": "String"
										},
										"sink": {
											"name": "PickupLocationId",
											"type": "Int16",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "DropLocationId",
											"type": "Int16",
											"physicalType": "String"
										},
										"sink": {
											"name": "DropLocationId",
											"type": "Int16",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "CabNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CabNumber",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DriverLicenseNumber",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "DriverLicenseNumber",
											"type": "Int32",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "PassengerCount",
											"type": "Int16",
											"physicalType": "String"
										},
										"sink": {
											"name": "PassengerCount",
											"type": "Int16",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "TripDistance",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "TripDistance",
											"type": "Double",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "RateCodeId",
											"type": "Int16",
											"physicalType": "String"
										},
										"sink": {
											"name": "RateCodeId",
											"type": "Int16",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "PaymentType",
											"type": "Int16",
											"physicalType": "String"
										},
										"sink": {
											"name": "PaymentType",
											"type": "Int16",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "TotalAmount",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalAmount",
											"type": "Double",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "FareAmount",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "FareAmount",
											"type": "Double",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "Extra",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Extra",
											"type": "Double",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "MtaTax",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "MtaTax",
											"type": "Double",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "TipAmount",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "TipAmount",
											"type": "Double",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "TollsAmount",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "TollsAmount",
											"type": "Double",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "ImprovementSurcharge",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "ImprovementSurcharge",
											"type": "Double",
											"isNullable": true
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Taxi_From_Raw_To_Output",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_parquet')]",
				"[concat(variables('factoryId'), '/datasets/Json1')]"
			]
		}
	]
}